<% if status == 'on' %>
    <li style="background-color: green;"><%= hour %></li>
<% elsif status == 'off' %>
    <li style="background-color: red;"><%= hour %></li>
<% else %>
    <li style="background-color: yellow;"><%= hour %></li>
<% end %>
