<main class="container" role="main">
  <div class="container">
    <div class="row mt-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Головна', root_url %></li>
          <li class="breadcrumb-item active" aria-current="page">Контакти</li>
        </ol>
      </nav>
    </div>
    <div class="row"><h1>Зворотний зв'язок</h1></div>
    <div class="row">
      <p>Якщо у вас виникли будь-які запитання чи пропозиції щодо сервісу, або співпраці, будемо раді відповісти на всі ваші запитання за наступними контактами:</p>
      <p>
        <ul>
          <li>Підтримка в Telegram <a href="https://t.me/voevodin_yura" target="_blank">@voevodin_yura</a></li>
          <li>Електронна пошта <a href="mailto:voevodin.yura@icloud.com" target="_blank">voevodin.yura@icloud.com</a></li>
        </ul>
      </p>
    </div>
  </div>
</main>
<%= render "layouts/footer" %>
