<main class="container" role="main">
  <div class="container">
    <div class="row mt-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Головна', root_url %></li>
          <li class="breadcrumb-item active" aria-current="page">Часті питання</li>
        </ol>
      </nav>
    </div>
    <div class="row"><h1>Часті питання</h1></div>
    <div class="row"><span class="text-muted fst-italic">Дата оновлення <b>8 лютого 2023 року</b></span></div> 
    <div class="row mt-4">
      <h2>Як дізнатися свою групу?</h2>
      <p>Для того, щоб дізнатись свою групу вам потрібно зайти на <a target="_blank" href="https://oe.if.ua/uk/sections/5e9f1c5fdb9c42704449b999#63db9f19db9c42416cf01727">сайт Прикарпаттяобленерго</a> та подивитись до якої групи відноситься ваша адреса.</p>
    </div>
    <div class="row mt-4">
      <h2>Відключення світла не сходитися з графіком</h2>
      <p>В даний період часу діють аварійні або екстрені відключення світла під час яких графік не є актуальним.</p>
    </div>

  </div>
</main>
<%= render "layouts/footer" %>
