<div class="row mt-2">
  <span>Умовні позначення</span>
</div>
<div class="row mt-2">
  <div class="rounded-3 bg-success">черга буде з електропостачанням</div>
</div>
<div class="row mt-2">
  <div class="rounded-3 bg-danger">черга буде вимкнена</div>
</div>
<div class="row mt-2">
  <div class="rounded-3 bg-warning">можливі вимкнення</div>
</div>
<div class="row mt-2">
  <div class="rounded-3 bg-body-secondary">немає даних</div>
</div>
