<div class="row">
  <span>Умовні позначення</span>
</div>
<div class="row mt-2">
  <div class="rounded-3 bg-success text-secondary-emphasis">черга з електропостачанням</div>
</div>
<div class="row mt-2">
  <div class="rounded-3 bg-danger text-secondary-emphasis">черга вимкнена</div>
</div>
<div class="row mt-2">
  <div class="rounded-3 bg-warning text-body-emphasis">можливі вимкнення</div>
</div>
<div class="row mt-2">
  <div class="rounded-3 bg-body-secondary">немає даних</div>
</div>
