<% if @day.present? %>
<p>
  На <code><%= Time.now.strftime("%H:%M") %></code>
  <span
    class="badge rounded-pill <%= badge_background_class_for(@current_status) %>"
    ><%= @line.status_text_for(@current_status) %></span
  >
</p>
<% end %>
